<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <title>Course Generator</title>
  <style>
    h1 {
      width: 400px;
      margin: auto;
      padding-left: 5px;
      font-family: 'Anton', sans-serif;
    }

    body {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Course Generator</h1>
  <h3 id="Help">Type any keyword in the box about the course you want</h3>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSG5wrrUbUROEgcy6CjgZr6ZtLukuOqigWShQ&usqp=CAU" alt="Course Image">
  <div id="userBox">
    
      <textarea name="input_data" id="chatBoxUser" cols="30" rows="10"></textarea>
      <br>
      <a  href="running"></a><button type="submit">Submit</button></a>
      
    </form>
  </div>
</body>
</html>
